SECRET_KEY=secret_key
DEBUG=True

FRONTEND_URL=http://localhost:8000

# Database
ENGINE_DB=engine_db
NAME_DB=name_db
USER_DB=user_db
PASSWORD_DB=password_db
HOST_DB=host_db
PORT_DB=port_db

# E-mail
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
EMAIL_USERNAME=""
EMAIL_PASSWORD=""

DEFAULT_FROM_EMAIL=noreply@teste.com